/target/
!.mvn/wrapper/maven-wrapper.jar
out/
.mvn/
mvnw
mvnw.cmd
src/main/resources/META-INF/whereapps-71f3b-f91647de8021.json

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
